{{define "cellContent"}}
        {{ if .Content }}
            <!-- Cell with content -->
			<div tabindex="0" 
				class="focus:outline-none focus:bg-blue-100 px-4 py-2 border"
				hx-delete="/schedule/cell?empID={{.EmpID}}&date={{.Date}}"
				hx-trigger="keyup[keyCode==13]" 
				hx-target="this"
				hx-swap="outerHTML">
            		{{ .Content }}
        	</div>
		{{ else }}
            <!-- Empty cell with input -->
            <input type="text" class="w-full bg-red-200 px-4 py-2" 
                hx-put="/schedule/cell?empID={{.EmpID}}&date={{.Date}}"
                hx-trigger="keyup[keyCode==13]"
                hx-target="this" 
                hx-swap="outerHTML"
                name="event" 
                placeholder="Enter event..."
                onblur="this.value=''">
        {{ end }}
{{end}}



<html>

<head>
	<title>Employee Schedule</title>
	<script src="https://cdn.tailwindcss.com"></script>
	<script src="https://unpkg.com/htmx.org"></script>
	<script src="https://unpkg.com/htmx.org/dist/ext/debug.js"></script>
</head>
<style>
	@keyframes slide {
		from {
			transform: translateX(0);
		}

		to {
			transform: translateX(100px);
		}
	}

	.animated-box {
		width: 50px;
		height: 50px;
		background-color: blue;
		animation: slide 2s infinite alternate;
	}
</style>

<body>
	<table class="table-auto w-full border-collapse">
		<tr class="bg-gray-100">
			<th class="border px-4 py-2">Employee</th>
			{{range .Dates}}
			<th class="border px-4 py-2">{{.}}</th>
			{{end}}
		</tr>
		{{range .Employees}}
		{{ $empID := .ID }}
		<tr>
			<td class="border px-4 py-2">{{.Name}}</td>
			{{range $date := $.Dates}}
			{{ $scheduleKey := printf "%d:%s" $empID $date }}
			{{ $cellContent := index $.Schedule $scheduleKey }}
			<td class="border px-4 py-2">
				{{ template "cellContent" (dict "EmpID" $empID "Date" $date "Content" $cellContent) }}
			</td>
			{{end}}
		</tr>
		{{end}}
	</table>
	<div class="animated-box"></div>
	<p> take the above animation as proof that the page has not reloaded</p>
</body>

</html>